<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>首页 - 用户体验提升计划</title> 
  <meta name="keywords" content="苏宁,苏宁云商,苏宁客户端,苏宁门店,PPTV,满座网,用户体验,提建议,提问题" /> 
  <meta name="description" content="苏宁用户体验提升计划是收集苏宁用户、股东、员工的建议和问题，共同提升苏宁服务的用户体验！" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta name="baidu-site-verification" content="uzbeevbrVp" /> 
  <script>
    var sn = sn || {
	            'context': '/emall',
                'vssDomain': 'http://s.suning.com',
                'storeDomain': 'http://store.suning.com',
                'imageDomain': 'http://image.suning.cn',
                'resDomain': 'http://res.suning.cn',
                'vcsDomain': 'http://vcs.suning.com'
            }
        var passport_config = {
	        base: "https://aq.suning.com/asc/",
            loginTheme: "b2c_pop"
        };
</script> 
  <link rel="stylesheet" href="/static/index/css/common.css" /> 
  <link rel="stylesheet" href="/static/index/css/search.css" /> 
  <link rel="stylesheet" href="/static/index/css/sn-sidebar.css" /> 
  <script type="text/javascript" src="/static/index/js/jquery.js"></script> 
  <script type="text/javascript" src="/static/index/js/sn_lazyload.js"></script> 
  <script type="text/javascript" src="/static/index/js/lazyelem.min.js"></script> 
  <script type="text/javascript" src="/static/index/js/SFE.base.min.js"></script> 
  <script type="text/javascript" src="/static/index/js/search.min.js"></script> 
  <script type="text/javascript" src="/static/index/js/sn-sidebar.min.js"></script> 
  <script type="text/javascript" src="/static/index/js/chatCompat_mini.js"></script> 
  <script src="/static/index/js/passport_checkout.js" type="text/javascript"></script> 
  <link rel="stylesheet" href="http://s.suning.com/project/vss/css/UEImprove.css?2016030922" /> 
  <link rel="stylesheet" href="http://s.suning.com/project/vss/css/lightbox.css?2016030922" /> 
 </head> 
 <body> 
  <div id="_TOP_BANNER_" class="ng-top-banner"></div> 
  <div class="ng-toolbar"> 
   <div class="ng-toolbar-con wrapper"> 
    <div class="ng-toolbar-left"> 
     <a href="index.html" class="ng-bar-node ng-bar-node-backhome" id="ng-bar-node-backhome" name="public0_none_dbgjt_fhyisy01"> <i class="ng-iconfont ng-backhome"></i><span>返回易购首页</span> <i class="ng-line ng-iconfont ml10"></i> </a> 
     <script type="text/javascript">
				if (!sn.isHome){document.getElementById('ng-bar-node-backhome').style.display = "block";};
			</script> 
     <!--网站导航 [[--> 
     <div class="ng-bar-node-box ng-site-nav-box"> 
      <a href="javascript:void(0);" class="ng-bar-node ng-bar-node-site" name="public0_none_dbgjt_wzdh03"> <span>网站导航</span><em class="ng-iconfont down"></em> </a> 
      <div class="ng-sn-site-nav ng-d-box site-nav-child" style="display:none;"> 
       <dl class="sn-site-list lnb"> 
        <dt>
          特色购物 
        </dt> 
        <dd> 
         <p><a name="public0_none_dbgjt_wzdh030101" href="http://10035.suning.com/" target="_blank">苏宁互联</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030102" href="http://store.suning.com/v.htm" target="_blank">苏宁V购</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030103" href="http://ka.suning.com/" target="_blank">苏宁卡</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030104" href="http://g.suning.com/" target="_blank">海外购</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030105" href="http://b.suning.com/" target="_blank">政企采购</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030106" href="coupon.html" target="_blank">大聚惠</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030107" href="http://try.suning.com/" target="_blank">0元试用</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030108" href="http://tv.suning.com/" target="_blank">视频购物</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030111" href="http://sale.suning.com/images/advertise/mdr/oabangong526/index.html" target="_blank">办公直通车</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030112" href="http://pai.suning.com/shanpai/" target="_blank">闪拍</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030113" href="http://yushou.suning.com" target="_blank">预售</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030114" href="http://new.suning.com" target="_blank">新发现</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030115" href="http://2.suning.com" target="_blank">二手优品</a></p> 
        </dd> 
       </dl> 
       <dl class="sn-site-list"> 
        <dt>
          主题频道 
        </dt> 
        <dd> 
         <p><a name="public0_none_dbgjt_wzdh030201" href="http://channel.suning.com/dianqicheng.html" target="_blank">电器城</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030202" href="supermarket.html" target="_blank">苏宁超市</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030203" href="http://shouji.suning.com/" target="_blank">手机</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030204" href="http://sports.suning.com/" target="_blank">运动馆</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030205" href="http://book.suning.com/" target="_blank">图书</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030207" href="child.html?/" target="_blank">红孩子母婴</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030208" href="http://binggo.suning.com/" target="_blank">美妆个护</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030209" href="http://pindao.suning.com/city/diannao.htm" target="_blank">电脑</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030210" href="clothes.html" target="_blank">服装城</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030213" href="http://smarthome.suning.com/" target="_blank">智能生活</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030214" href="http://pindao.suning.com/city/jiazhuang.htm" target="_blank">家装馆</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030215" href="http://pindao.suning.com/city/qiche.htm" target="_blank">汽车用品</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030216" href="http://re.suning.com/?utm_source=daohang" target="_blank">苏宁热卖</a></p> 
        </dd> 
       </dl> 
       <dl class="sn-site-list"> 
        <dt>
          生活助手 
        </dt> 
        <dd> 
         <p><a name="public0_none_dbgjt_wzdh030301" href="https://passport.suning.com/ids/trustLogin?sysCode=epp&amp;targetUrl=https://licai.suning.com/bof/bofIndex.htm" target="_blank">零钱宝<i class="hot"></i></a></p> 
         <p><a name="public0_none_dbgjt_wzdh030302" href="http://chong.suning.com/eppscrp/mobile/fill.htm" target="_blank">手机充值</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030303" href="http://huochepiao.suning.com/" target="_blank">火车票</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030304" href="http://sh.suning.com/life/at/memtrans!input.action" target="_blank">转账还款</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030305" href="http://assss.suning.com/assss-web/pc/helper/appointmentStep1.do" target="_blank">约服务</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030306" href="http://sh.suning.com/life/2-1.html" target="_blank">水电煤</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030307" href="http://baoxian.suning.com/ins/index.htm" target="_blank">保险</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030308" href="http://caipiao.suning.com/" target="_blank">彩票</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030309" href="http://jipiao.suning.com/" target="_blank">机票</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030509" href="http://store.suning.com/" target="_blank">门店查询</a></p> 
        </dd> 
       </dl> 
       <dl class="sn-site-list"> 
        <dt>
          会员服务 
        </dt> 
        <dd> 
         <p><a name="public0_none_dbgjt_wzdh030401" href="http://vip.suning.com" target="_blank">会员联盟<i class="hot"></i></a></p> 
         <p><a name="public0_none_dbgjt_wzdh030402" href="http://club.suning.com/" target="_blank">苏宁社区</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030403" href="http://baoxian.suning.com/ins/jiaDian.htm" target="_blank">延长保修</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030404" href="http://snbook.suning.com/web/index.htm" target="_blank">免费书城</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030405" href="https://passport.suning.com/ids/trustLogin?sysCode=epp&amp;targetUrl=https://pay.suning.com/epp-epw/login/login.action" target="_blank">易付宝</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030407" href="https://passport.suning.com/ids/trustLogin?sysCode=epp&amp;targetUrl=https://licai.suning.com/bof/licaiIndex.htm" target="_blank">苏宁理财</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030406" href="http://jinrong.suning.com" target="_blank">苏宁金融</a></p> 
        </dd> 
       </dl> 
       <dl class="sn-site-list rnb"> 
        <dt>
          更多热点 
        </dt> 
        <dd> 
         <p><a name="public0_none_dbgjt_wzdh030503" href="http://www.pptv.com/" target="_blank">PPTV</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030504" href="http://sale.suning.com/syb/20120419xsjkhd/index.html" target="_blank">客户端</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030505" href="http://sop.suning.com/" target="_blank">商家入驻<i class="hot"></i></a></p> 
         <p><a name="public0_none_dbgjt_wzdh030506" href="http://pan.suning.com/cloud-web/web2/cloud.html" target="_blank">苏宁云盘</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030507" href="http://sncs.suning.com/" target="_blank">苏宁众包</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030508" href="http://union.suning.com/" target="_blank">苏宁联盟</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030510" href="http://ued.suning.com/survey/" target="_blank">用户体验</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030511" href="http://gongyi.suning.com" target="_blank">公益频道</a></p> 
         <p><a name="public0_none_dbgjt_wzdh030502" href="http://jiameng.suning.com/home.action" target="_blank">校园先锋</a></p> 
         <p><a name="" href="http://jiameng.suning.com/home.action" target="_blank">苏宁加盟</a></p> 
         <p><a name="" href="http://www.suningcloud.com/" target="_blank">苏宁云</a></p> 
         <p><a name="" href="http://fc.suning.com/" target="_blank">苏宁足球</a></p> 
        </dd> 
       </dl> 
       <a href="javascript:void(0);" class="ng-close" name="public0_none_dbgjt_wzdh030516"><em class="ng-iconfont"></em></a> 
      </div> 
     </div> 
     <!--网站导航 ]]--> 
     <!-- 消息 [[ --> 
     <div class="ng-bar-node-box ng-msg-box"> 
      <a href="member_message.html" class="ng-bar-node ng-bar-node-msg" name="public0_none_dbgjt_wdxx01" target="_blank"> <span>消息<i class="ng-iconfont dot"></i></span><em class="ng-iconfont down"></em> </a> 
      <div class="ng-d-box ng-msg-child" style="display:none;"> 
       <div class="ng-msg-list"> 
        <div class="ng-msg-item ng-msg-item-no"> 
         <i></i>
         <span>嗷~ 没有新消息...</span> 
        </div> 
       </div> 
       <div class="ng-msg-bottom">
        <a href="member_message.html" name="public0_none_dbgjt_wdxx01" target="_blank">查看更多</a>
       </div> 
      </div> 
     </div> 
     <!-- 消息 ]] --> 
    </div> 
    <div class="ng-toolbar-right"> 
     <!-- 登录注册 --> 
     <a href="javascript:void(0)" class="ng-bar-node username-bar-node username-bar-node-showside" id="username-node" rel="nofollow" style="display:none;"> <span id="usernameHtml01"></span> <em class="hasmsg ng-iconfont"></em> </a> 
     <div class="ng-bar-node-box username-handle" id="username-node-slide" style="display:none;"> 
      <a href="member_index.html" rel="nofollow" class="ng-bar-node username-bar-node username-bar-node-noside"> <span id="usernameHtml02"></span> <em class="hasmsg ng-iconfont"></em> <em class="ng-iconfont down"></em> </a> 
      <div class="ng-d-box ng-down-box ng-username-slide" style="display:none;"> 
       <a href="member_info.html" class="ng-vip-union" target="_blank" rel="nofollow">账号管理</a> 
       <a href="javascript:SFE.base.logoff();" rel="nofollow">退出登录</a> 
      </div> 
     </div> 
     <div class="ng-bar-node reg-bar-node" id="reg-bar-node"> 
      <a href="login.html" name="public0_none_dbgjt_login0800" rel="nofollow" class="login">登录</a> 
      <a href="https://reg.suning.com/person.do" target="_blank" class="login reg-bbb" rel="nofollow" name="public0_none_dbgjt_register09">注册</a> 
     </div> 
     <script type="text/javascript">
				function d(b) {
					var a;
					return (a = document.cookie.match(RegExp("(^| )" + b + "=([^;]*)(;|$)"))) ? decodeURIComponent(a[2]
						.replace(/\+/g, "%20"))
						: null
				};
				var uernameA = d("logonStatus");
				var usernameNode = document.getElementById('username-node');
				var usernameNodeSlide = document.getElementById('username-node-slide');
				var usernameHtml01 = document.getElementById('usernameHtml01') , usernameHtml02 = document.getElementById('usernameHtml02');
				var regBarNode = document.getElementById('reg-bar-node');
				if (uernameA != null && uernameA != "") {
					var uernameC = d("nick");
					// if( ((window.sidebar_config && sidebar_config.enable)||sn.hasSidebar) && !sn.hasNewSidebar ){
					// 	usernameNode.style.display = "block";
					// }else{
						usernameNodeSlide.style.display = "block";
					//}
					usernameHtml01.innerHTML = uernameC;
					usernameHtml02.innerHTML = uernameC;
					regBarNode.style.display = "none";
				}else{
					usernameNode.style.display = "none";
					usernameNodeSlide.style.display = "none";
					usernameHtml01.innerHTML = " ";
					usernameHtml02.innerHTML = " ";
					regBarNode.style.display = "block";
				}
			</script> 
     <!--我的订单 [[--> 
     <div class="ng-bar-node-box myorder-handle"> 
      <a href="member_order.html?storeId=10052&amp;catalogId=10051" rel="nofollow" name="public0_none_dbgjt_order04" class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5"><span>我的订单</span><em class="ng-iconfont down"></em></a> 
      <div class="ng-down-box ng-d-box myorder-child" style="display:none;"> 
       <a href="member_order.html?catalogId=10051&amp;storeId=10052&amp;selectTime=all&amp;status=M" rel="nofollow" name="public0_none_dbgjt_order0401">待支付<em id="waitPayCounts"></em></a> 
       <a href="member_order.html?catalogId=10051&amp;storeId=10052&amp;selectTime=all&amp;status=C000" rel="nofollow" name="public0_none_dbgjt_order0402">待收货<em id="waitDeliveryCounts"></em></a> 
       <a href="member_comments.html" rel="nofollow" name="public0_none_dbgjt_order0403">待评价<em id="waitEvaluation"></em></a> 
       <a href="http://member.suning.com/emall/SNLingYueGoodsOrderView?storeId=10052&amp;catalogId=10051" rel="nofollow" name="public0_none_dbgjt_order0404">修改订单</a> 
      </div> 
     </div> 
     <!--我的订单 ]]--> 
     <!--我的易购 [[--> 
     <div class="ng-bar-node-box mysuning-handle"> 
      <a href="member_index.html" rel="nofollow" name="public0_none_dbgjt_wdyg05" class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5"><span>我的易购</span><em class="ng-iconfont down"></em></a> 
      <div class="ng-down-box ng-d-box mysuning-child" style="display:none;"> 
       <a href="http://2.suning.com/myOrder/queryMyOrders.do" name="public0_none_dbgjt_wdyg0501" rel="nofollow" target="_blank">我的二手</a> 
       <a href="https://passport.suning.com/ids/trustLogin?sysCode=epp&amp;targetUrl=http://my.jr.suning.com/sfp/accountAssets/index.htm" rel="nofollow" name="public0_none_dbgjt_wdyg0502" target="_blank">我的金融</a> 
       <a href="member_collect_goods.html" rel="nofollow" name="public0_none_dbgjt_wdyg0503">我的收藏</a> 
       <a href="https://rxf.suning.com/epps-cpf/accountMgt/assetOverview.do" rel="nofollow">我的任性付</a> 
       <a href="member_coupon.html?storeId=10052&amp;catalogId=10051" rel="nofollow" name="public0_none_dbgjt_wdyg0504">我的优惠券</a> 
       <a href="http://vip.suning.com/sign/welcome.do" rel="nofollow" name="public0_none_dbgjt_wdyg0505">打卡赚云钻</a> 
       <a href="http://vip.suning.com" class="ng-vip-union" target="_blank" rel="nofollow" name="public0_none_dbgjt_wdyg0506">会员联盟<em class="ng-iconfont"></em></a> 
      </div> 
     </div> 
     <!--我的易购 ]]--> 
     <!-- 购物车 --> 
     <a class="ng-bar-node ng-bar-node-mini-cart" name="public0_none_minicart_gouwclj" rel="nofollow" href="cart.html?langId=-7&amp;storeId=10052&amp;catalogId=10051"> <em class="ng-iconfont cart"></em><span>购物车</span> <span class="total-num-box" id="J_total_num_box"> <b class="total-num J_cart_total_num" id="showTotalQty">0</b> <span class="total-num-bg-box"> <em></em> <i></i> </span> </span> </a> 
     <script type="text/javascript">
				var ngCartNum =  d("totalProdQty");
				ngCartNum = ( ngCartNum ==0 || ngCartNum == null )?0:ngCartNum;
				ngCartNum = ngCartNum>99?'99+':ngCartNum;
				document.getElementById('showTotalQty').innerHTML = ngCartNum;
			</script> 
     <!--手机苏宁 [[--> 
     <div class="ng-bar-node-box app-down-box"> 
      <a href="http://sale.suning.com/syb/20120419xsjkhd/index.html" target="_blank" name="public0_none_dbgjt_sjsn01" rel="nofollow" class="ng-bar-node mb-suning touch-href"> <em class="ng-iconfont mb"></em><span>手机苏宁</span><em class="ng-iconfont down"></em> </a> 
      <div class="ng-mb-box ng-d-box mb-down-child" style="display:none;"> 
       <div class="ng-code-box"> 
        <p class="ng-tip"> <a href="http://sale.suning.com/syb/20120419xsjkhd/index.html" rel="nofollow" name="public0_none_dbgjt_sjsn0101" target="_blank">扫一扫，下载易购客户端</a> </p> 
        <a href="http://sale.suning.com/syb/20120419xsjkhd/index.html" rel="nofollow" name="public0_none_dbgjt_sjsn0102" target="_blank"> <img src3="http://img.suning.cn/public/v3/images/code.png?var=07" alt="苏宁易购APP二维码" height="80" width="80" /> </a> 
       </div> 
       <div class="ng-app-box"> 
        <div class="ng-app-list"> 
         <a href="https://passport.suning.com/ids/trustLogin?sysCode=epp&amp;targetUrl=https://pay.suning.com/epp-epw/login/login.action" target="_blank" rel="nofollow" name="public0_none_dbgjt_sjsn0103" class="ng-app"><img src3="http://img.suning.cn/public/v3/images/app-ebook.png?var=01" title="易付宝钱包" /></a> 
         <a href="http://sale.suning.com/images/advertise/zyn/TV0811sndjt/index.html" target="_blank" rel="nofollow" name="public0_none_dbgjt_sjsn0104" class="ng-app"><img src3="http://img.suning.cn/public/v3/images/app-sn.png?var=03" title="苏宁易购TV版" /></a> 
         <a href="http://app.pptv.com/pg_get_clt" target="_blank" rel="nofollow" name="public0_none_dbgjt_sjsn0105" class="ng-app"><img src3="http://img.suning.cn/public/v3/images/app-pptv.png?var=01" title="PPTV" /></a> 
         <a href="http://snbook.suning.com/web/index.htm" target="_blank" rel="nofollow" name="public0_none_dbgjt_sjsn0106" class="ng-app"><img src3="http://img.suning.cn/public/v3/images/app-suning.png?var=02" title="苏宁阅读" /></a> 
        </div> 
       </div> 
       <a href="http://sale.suning.com/syb/yinliuye0512/index.html" target="_blank" rel="nofollow" name="public0_none_dbgjt_sjsn0108"> <img src3="http://img.suning.cn/public/v3/images/newreg.png?v=20150506" height="35" width="242" /> </a> 
       <a href="javascript:void(0);" name="public0_none_dbgjt_sjsn0109" class="ng-close" rel="nofollow"><em class="ng-iconfont"></em></a> 
      </div> 
     </div> 
     <!--手机苏宁 ]]--> 
     <a href="https://passport.suning.com/ids/trustLogin?sysCode=epp&amp;targetUrl=https://pay.suning.com/epp-epw/login/login.action" name="public0_none_dbgjt_yfb06" class="ng-bar-node ng-bar-node-pr5" target="_blank"><span>易付宝</span></a> 
     <a href="http://b.suning.com" class="ng-bar-node ng-bar-node-pr5" name="public0_none_dbgjt_qypd01" target="_blank"><span>政企采购</span></a> 
     <!--服务中心 [[--> 
     <div class="ng-bar-node-box service-handle"> 
      <a href="javascript:void(0);" class="ng-bar-node ng-bar-node-service ng-bar-node-fix touch-href ng-bar-node-pr5" rel="nofollow" name="public0_none_dbgjt_fwzx07"><span>客户服务</span><em class="ng-iconfont down"></em> </a> 
      <div class="ng-down-box ng-d-box service-center-child ng-ser-list" style="display:none;"> 
       <a href="http://help.suning.com" rel="nofollow" target="_blank" name="public0_none_dbgjt_fwzx0705">帮助中心</a> 
       <a href="http://store.suning.com" rel="nofollow" target="_blank" name="public0_none_dbgjt_fwzx0704">查找门店</a> 
       <a href="member_aftersale.html?storeId=10052&amp;catalogId=10051" rel="nofollow" name="public0_none_dbgjt_fwzx0701" target="_blank">退换货</a> 
       <a href="http://assss.suning.com/assss-web/pc/helper/appointmentStep1.do" target="_blank">约服务</a> 
       <a href="member_suggest.html" rel="nofollow" name="public0_none_dbgjt_fwzx0702" target="_blank">投诉</a> 
       <a href="http://s.suning.com" rel="nofollow" name="public0_none_dbgjt_fwzx0706" target="_blank">建议反馈</a> 
       <a href="javascript:findpass();" rel="nofollow" name="public0_none_dbgjt_fwzx0707">在线咨询</a> 
      </div> 
     </div> 
     <!--服务中心 ]]--> 
    </div> 
    <div id="ng-minicart-slide-box"></div> 
   </div> 
  </div> 
  <div class="vss-index"> 
   <div class="cont-all"> 
    <!--头部幻灯--> 
    <div class="layout clearfix"> 
     <div class="col-main super-slide " id="main-banner"> 
      <!--幻灯切换--> 
      <div id="banner" class="banner"> 
       <!--幻灯左侧框--> 
       <div class="notice-cont"> 
        <p class="slider-title"><img src="http://s.suning.com/project/vss/images/pro_logo.png" /></p> 
        <div class="notice-box" id="notice"> 
         <p class="notice-box-title">您的建议，是我们的动力来源！</p> 
         <div class="suggest-cont"> 
          <span class="suggest-left fl">已有</span> 
          <div class="suggest-num-bg"> 
           <div class="suggest-num" name="s_suning_user_totle"> 
            <span class="fifth">6</span> 
            <span class="forth">6</span> 
            <span class="third">7</span> 
            <span class="second">9</span> 
            <span class="first">8</span> 
           </div> 
          </div> 
          <span class="suggest-right fr">人提建议</span> 
         </div> 
         <a class="suggest-btn" href="/report.htm" name="s_suning_user_tijiao">我要提建议</a> 
        </div> 
       </div> 
       <!--幻灯左侧框结束--> 
       <div class="banner-handle"> 
        <span class="on"></span> 
       </div> 
       <a id="js-banner-pre" href="javascript:;" class="banner-btns banner-prev vhide"><i></i></a> 
       <a id="js-banner-next" href="javascript:;" class="banner-btns banner-next vhide"><i></i></a> 
       <ul> 
        <li> <a target="_blank" href="http://s.suning.com/report.htm" name="s_suning_top_banner"> <img alt="banner" src="http://image.suning.cn/images/vss/1447687962_45.jpg" /> </a> </li> 
       </ul> 
      </div> 
      <!--幻灯切换结束--> 
     </div> 
    </div> 
    <!--头部幻灯结束--> 
    <!--获奖榜--> 
    <div class="cont cont0"> 
     <div class="content"> 
      <p class="vss-index-title">优质建议-获奖榜</p> 
      <div class="user-detail"> 
       <div class="user-info"> 
        <i class="num-icon"></i> 
        <p class="user-name">189******09</p> 
        <p class="user-num">建议数：<span class="detail-num">1</span></p> 
        <p class="text-cont">（1）在‘我的订单’里缺少“所有订单”按钮；另外左边导航尽量固定，由于程序是按模块来弄的，所以左右对应不精准，导致导航乱跑，隶属正常，这方面京东做得也不好，咱苏宁做得对京东略逊半筹，做得最好的是阿里和腾讯的系统。 （2）品牌名称方面，苏宁有三个名称（苏宁电器、苏宁云商、苏宁易购），让人混淆。个人建议：苏宁易购干脆就叫“苏宁网”就可以了，可以轻松被记忆和被接受，同时展示公司未来之格局。</p> 
       </div> 
       <div class="user-info"> 
        <i class="num-icon num-icon2"></i> 
        <p class="user-name">d****b@tom.com</p> 
        <p class="user-num">建议数：<span class="detail-num">1</span></p> 
        <p class="text-cont">关于苏宁阅读建议： 1、提供电子书版本，以扩展用户群； 2、网页书架与手机书架不统一、不同步。如：手机分类后在网页上不同步分类，应该说在电脑端分类整理更方便一些； 3、总的一个设计原则：不管手机、网页、或者PC客户端都应全局统一、方便使用为原则。不能手机是一种方式使用、而网页又是另一种方式使用，这样不便客户快速的熟悉，给人的印象是拼接组装的，一点不专业，专业一点叫顶层设计、系统设计。</p> 
       </div> 
       <div class="user-info"> 
        <i class="num-icon num-icon3"></i> 
        <p class="user-name">sqcainiao</p> 
        <p class="user-num">建议数：<span class="detail-num">1</span></p> 
        <p class="text-cont">（1）作为一个普通的消费者，我在购买二手商品的时候，比如一部国行的iPhone6，目前的正常价格是4200左右，在我们易购的二手优品，成色不错的3000左右，从性价比很高了。但维保问题，如果这个手机出现质量问题，这个责任谁来承担呢？（2）二手优品限制了卖家仅为个人，任何商家不能参与，在这个方面，是否可以像阿里巴巴的闲鱼一样放宽这个门槛呢？可以对商家的门槛提高，但是最起码得给个门吧</p> 
       </div> 
       <div class="clearfix"></div> 
      </div> 
     </div> 
    </div> 
    <!--贡献榜--> 
    <div class="cont cont1"> 
     <div class="content"> 
      <p class="vss-index-title">2月贡献榜</p> 
      <div class="rank-cont"> 
       <table> 
        <thead> 
         <tr>
          <td class="col-one"></td>
          <td class="col-two">易购账号</td>
          <td class="col-three">建议总数</td>
          <td class="col-four">采纳建议</td>
         </tr> 
        </thead> 
        <tbody> 
         <tr> 
          <td class="col-one"> <em style="color:#00a6ff">TOP1</em> <img src="http://image.suning.cn/uimg/cmf/cust_headpic/6036834619_00_60x60.jpg" /> </td> 
          <td class="c-two"><span>呵呵你妹夫...</span></td> 
          <td class="c-three"><span>23</span></td> 
          <td class="c-four"><span>21</span></td> 
         </tr> 
         <tr> 
          <td class="col-one"> <em style="color:#00a6ff">2</em> <img src="http://image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg" /> </td> 
          <td class="c-two"><span>达人2012...</span></td> 
          <td class="c-three"><span>29</span></td> 
          <td class="c-four"><span>19</span></td> 
         </tr> 
         <tr> 
          <td class="col-one"> <em style="color:#00a6ff">3</em> <img src="http://image.suning.cn/uimg/cmf/cust_headpic/1800820132_00_60x60.jpg" /> </td> 
          <td class="c-two"><span>136******85</span></td> 
          <td class="c-three"><span>9</span></td> 
          <td class="c-four"><span>9</span></td> 
         </tr> 
         <tr> 
          <td class="col-one"> <em>4</em> <img src="http://image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg" /> </td> 
          <td class="c-two"><span>woaifuyan...</span></td> 
          <td class="c-three"><span>6</span></td> 
          <td class="c-four"><span>6</span></td> 
         </tr> 
         <tr> 
          <td class="col-one"> <em>5</em> <img src="http://image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg" /> </td> 
          <td class="c-two"><span>137******93</span></td> 
          <td class="c-three"><span>6</span></td> 
          <td class="c-four"><span>6</span></td> 
         </tr> 
         <tr> 
          <td class="col-one"> <em>6</em> <img src="http://image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg" /> </td> 
          <td class="c-two"><span>138******29</span></td> 
          <td class="c-three"><span>7</span></td> 
          <td class="c-four"><span>6</span></td> 
         </tr> 
         <tr> 
          <td class="col-one"> <em>7</em> <img src="http://image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg" /> </td> 
          <td class="c-two"><span>133******30</span></td> 
          <td class="c-three"><span>6</span></td> 
          <td class="c-four"><span>6</span></td> 
         </tr> 
         <tr> 
          <td class="col-one"> <em>8</em> <img src="http://image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg" /> </td> 
          <td class="c-two"><span>180******35</span></td> 
          <td class="c-three"><span>7</span></td> 
          <td class="c-four"><span>6</span></td> 
         </tr> 
         <tr> 
          <td class="col-one"> <em>9</em> <img src="http://image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg" /> </td> 
          <td class="c-two"><span>139******63</span></td> 
          <td class="c-three"><span>5</span></td> 
          <td class="c-four"><span>5</span></td> 
         </tr> 
         <tr> 
          <td class="col-one"> <em>10</em> <img src="http://image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg" /> </td> 
          <td class="c-two"><span>138******05</span></td> 
          <td class="c-three"><span>5</span></td> 
          <td class="c-four"><span>5</span></td> 
         </tr> 
        </tbody> 
       </table> 
      </div> 
      <div class="gift-wrap"> 
       <div class="gift gift1"> 
        <p class="para1">优质建议奖项说明</p> 
        <p class="para2">我们将会不定期评选出具有参考价值的建议，获奖用户届时会受到惊喜奖励哦！</p> 
        <img src="http://s.suning.com/project/vss/images/gift2.png" /> 
       </div> 
       <div class="gift gift2"> 
        <p class="para1">Top10排行榜单规则说明</p> 
        <p class="para2">当你连续2个月都出现在TOP10中，你将会收到我们的小礼品哦~</p> 
        <img src="http://s.suning.com/project/vss/images/gift1.png" /> 
       </div> 
      </div> 
      <div class="clearfix"></div> 
     </div> 
    </div> 
    <!--用户展示--> 
    <div class="cont cont2"> 
     <div class="content"> 
      <p class="tab-tip">我们真诚的邀请你成为用户体验专家团的一员，帮助我们成为你期望的样子！</p> 
      <a class="join-btn" href="http://ued.suning.com/survey/view/plan" target="_blank" name="s_suning_zhuanjia_shenqing">加入用户体验专家团</a> 
     </div> 
     <div class="clearfix"></div> 
    </div> 
   </div> 
  </div> 
  <script type="text/javascript" src="http://s.suning.com/project/vss/js/slider.js"></script> 
  <!--<script src="http://s.suning.com/project/vss/js/vss-index.js"></script>--> 
  <div class="ng-footer-simpler"></div> 
  <div class="clear"></div> 
 <div class="ng-s-footer">
<div class="ng-s-f-con">
<p class="ng-url-list">
<a name="public0_none_wb_yqlj0101" target="_blank" href="http://www.suning.cn/">苏宁云商</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0102" target="_blank" href="http://10035.suning.com/">苏宁互联</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0111" target="_blank" href="http://jinrong.suning.com/">苏宁金融</a><span>|</span>
<a name="public0_none_wb_yqlj0103" target="_blank" rel="nofollow" href="https://passport.suning.com/ids/trustLogin?sysCode=epp&amp;targetUrl=https://pay.suning.com/epp-epw/login/login.action">易付宝</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0105" target="_blank" href="http://www.pptv.com?rcc_id=snyg">PPTV</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0106" target="_blank" href="http://redbaby.suning.com/">红孩子</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0107" target="_blank" href="http://binggo.suning.com/">缤购</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0108" target="_blank" href="http://laox.suning.com/">乐购仕</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0111" target="_blank" href="http://wuliu.suning.com/">苏宁物流</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0109" target="_blank" href="http://usa.suning.com/">苏宁美国</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0110" target="_blank" href="http://hk.suning.com/">苏宁香港</a><span>|</span>
<a name="public0_none_wb_yqlj0111" target="_blank" href=" http://m.suning.com/">手机苏宁</a>
</p>
<p class="ng-url-list">
<a rel="nofollow" name="public0_none_wb_yqlj0201" target="_blank" href="http://club.suning.com/hr/aboutus.html">关于苏宁易购</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0202" target="_blank" href="http://help.suning.com/page/id-469.htm">联系我们</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0203" target="_blank" href="http://careers.cnsuning.com/">诚聘英才</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0204" target="_blank" href="http://sop.suning.com/">供应商入驻</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0205" target="_blank" href="http://union.suning.com/">苏宁联盟</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0206" target="_blank" href="http://zb.suning.com/">苏宁招标</a><span>|</span>
<a name="public0_none_wb_yqlj0207" target="_blank" href="http://union.suning.com/aas/links.html">友情链接</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0208" target="_blank" href="http://help.suning.com/page/id-281.htm">法律申明</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0209" target="_blank" href="http://ued.suning.com/survey/">用户体验提升计划</a><span>|</span>
<a rel="nofollow" name="public0_none_wb_yqlj0209" target="_blank" href="http://mrs.suning.com/mrs-web/stockholder/check.htm">股东会员认证</a>
</p>
<p class="ng-copyright">
Copyright&copy; 2002-2016 ，苏宁云商集团股份有限公司版权所有
<a style="color:#999" target="_blank" href="http://www.miitbeian.gov.cn">苏ICP备10207551号-4</a>
<a style="color:#999" rel="nofollow" target="_blank" href="http://img.suning.cn/public/v3/images/SUB1-20130131.png">苏B1-20130131</a>
<a style="color:#999" rel="nofollow" target="_blank" href="http://img.suning.cn/public/v3/images/SUB2-20130376.png">苏B2-20130376</a>
<a style="color:#999" rel="nofollow" target="_blank" href="http://img.suning.cn/public/v3/images/SUB2-20130391.png">苏B2-20130391</a>
出版物经营许可证新出发苏批字第A-243号</p>
<div class="ng-authentication">
<a rel="nofollow" name="public0_none_wb_zs0302" target="_blank" href="https://search.szfw.org/cert/l/CX20111018000608000610">
<img width="76" height="24" alt="诚信网站" src="http://img.suning.cn/public/v3/images/chengxin.png">
</a>
<a rel="nofollow" name="public0_none_wb_zs0303" target="_blank" href="http://image.suning.cn/uimg/snnet/snnetImg/142891196680527240.jpg">
<img width="76" height="24" alt="中国联通授权网络经营代理商" src="http://img.suning.cn/public/v3/images/unicom.png">
</a>
<a rel="nofollow" name="public0_none_wb_zs0304" target="_blank" href="http://img.suning.cn/public/v3/images/dianxin_content.jpg">
<img width="76" height="24" alt="中国电信授权网络经营代理商" src="http://img.suning.cn/public/v3/images/dianxin.jpg">
</a>
<a name="public0_none_wb_zs0303" rel="nofollow" target="_blank" href="http://www.jsgsj.gov.cn:60101/keyLicense/verifKey.jsp?serial=320000163820130117100000009630&amp;signData=0+ADYt839gp1EiqiZXnsxsyOnpO32Wg4sFePaiV9+NtTV/XCAMXGzT/AOgycGMm0EjsR/Ot661M7h9GeStpA8QyJTs1Ip1K/CSNaemthn7f1NjI03x1E6v9ZRT+3M60WZIGLBEjFs5XMliufNz1cJlYDQrTZvaZbHyJ2KzgJB4Y=">
<img width="76" height="24" alt="电子营业执照" src="http://img.suning.cn/public/v3/images/dianzi.png?v=02">
</a>
</div>
</div>
</div>
  <style type="text/css">
.ng-footer{height:130px;margin-top:0;}
.ng-s-footer{height:130px;background:none;text-align:center;}
.ng-s-footer p.ng-url-list{height:25px;line-height:25px;}
.ng-s-footer p.ng-url-list a{color:#666666;}
.ng-s-footer p.ng-url-list a:hover{color:#f60;}
.ng-s-footer .ng-authentication{float:none;margin:0 auto;height:25px;width:990px;margin-top:5px;}
.ng-s-footer p.ng-copyright{float:none;width:100%;}
.root1200 .ng-s-footer p.ng-copyright{width:100%;}
</style> 
  <script src="https://passport.suning.com/ids/js/passport.js"></script> 
  <script src="http://s.suning.com/project/vss/js/UEImprove.dev.js?2016030922"></script> 
  <script>
	var _hmt = _hmt || [];
	var ua = navigator.userAgent;
	if (/SNEBUY-APP/i.test(ua)) {
		_hmt.push(['_setCustomVar', 1, 'visitor', 'app', 2]);
		_hmt.push(['_setCustomVar', 2, 'app', window.client || 'unknow', 2]);
	} else if (/Android|iPhone|iPad|BlackBerry|SymbianOS|IEMobile|WebOS|Google\s+Wireless\s+Transcoder/i.test(ua)) {
		_hmt.push(['_setCustomVar', 1, 'visitor', 'wap', 2]);
	} else {
		_hmt.push(['_setCustomVar', 1, 'visitor', 'pc', 2]);
	}
	(function () {
		var hm = document.createElement("script");
		hm.src = "//hm.baidu.com/hm.js?9410ffff3be2a4b41bdc469ff7351fe4";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
	// 点击统计
	$(document).on('click', '[name]', function(){
		var name = $(this).attr('name');
		_hmt.push(['_trackEvent', 'btn', 'click', 'inapp', name]);
	});
</script> 
  <script>
	$(function () {
		$.ajax({
			url: '/refreshBaseInfo',
			dataType: 'json',
			cache: true
		})
	});
	// 首页更新信息
	probeAuthStatus(function () {
		if ($("#notice").size() > 0) {
			$.ajax({
				type: 'get',
				dataType: 'json',
				cache: false,
				url: '/checkStatus',
				success: function (data) {
					if (data.status == 1 && data.html) {
						$("#notice").html(data.html);
					}
				}
			});
		}
	}, function () {
	});

	// 埋点
	$(function(){
		$(document).on("click", "[name^=s_suning]", function(){
			try {
				sa.click.sendDatasIndex(this);
			} catch(e){
			}
		});
		// 联系方式埋点
		$(document).on('click', '#cusType1', function(){
			var input = $("[name='s_suning_report_shouji']")[0];
			try {
				sa.click.sendDatasIndex(input);
			} catch(e){
			}
		});
	})
</script>  
 </body>
</html>