<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]--> 
<!--/meta 作为公共模版分离出去-->

<!-- <link href="/static/admin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" /> -->
</head>
<body>
	<input type="hidden" name="sum" value="{$sum}">
	<div class="page-container">
		<div class="row cl col-md-3">
			<span>商品名称：{$gname}</span>
		</div>
		<form action="/admin-goods/doaddattr" method="post">
			<input type="hidden" name="gid" value="{$gid}">
		{foreach name="attrs" item="row"}
		<div class="row cl col-md-1">
			<label class="form-label col-xs-2 col-sm-2">{$row['name']}：</label>
			<select name="{$row['name']}" class="radius">
				{foreach name="row['value']" item="rows"}
				<option value="{$rows}">{$rows}</option>
				{/foreach}
			</select>
		</div>
		{/foreach}
		<div class="row cl col-md-1">
			<div class="form-control">
				<input type="submit" class="btn btn-primary size-M radius" value="确定">
			</div>
			
		</div>
		</form>
	</div>
	
	<!--_footer 作为公共模版分离出去-->
	<!-- <script type="text/javascript" src="/static/admin/lib/jquery/1.9.1/jquery.min.js"></script>  -->
	<script src="/static/index/js/jquery.js"></script>
	<script type="text/javascript" src="/static/admin/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="/static/admin/static/h-ui/js/H-ui.min.js"></script> 
	 <script type="text/javascript" src="/static/admin/static/h-ui.admin/js/H-ui.admin.js"></script> 
	 <!--/_footer 作为公共模版分离出去 -->

	<!-- 请在下方写此页面业务相关的脚本 -->
	<!-- <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script> -->


	<script type="text/javascript" src="/static/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
	<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
	<!-- <script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script> -->
	<!-- <script type="text/javascript" src="/static/admin/lib/webuploader/0.1.5/webuploader.min.js"></script>  -->
	<script type="text/javascript" src="/static/admin/lib/ueditor/1.4.3/ueditor.config.js"></script>
	<script type="text/javascript" src="/static/admin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
	<script type="text/javascript" src="/static/admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
	<script>
		//获取所有select框
		all = $('select').length;
		//一共需要的select框
		sum = $('input[name="sum"]').val();
		//需要添加的hidden域
		n = sum-all;
		console.log(n);
		for (var i = 1; i <= n ;i++) {
			y = $('<input type="hidden" name="隐'+i+'">');
			y.appendTo('form');
		}
	</script>
</body>
</html>