<div class="ng-toolbar">
        <div class="ng-toolbar-con wrapper">
            <div class="ng-toolbar-left">
                 <!-- <a href="/" class="ng-bar-node ng-bar-node-backhome" id="ng-bar-node-backhome" name="public0_none_gongju_fanhui" style="display: block;">
                    <i class="ng-iconfont ng-backhome"><img src="/static/index/images/icon/back-home.png" width="12px" height="12px"></i>
                    <span>返回首页</span></a> -->
                <script type="text/javascript">if (!sn.isHome) {
                        document.getElementById('ng-bar-node-backhome').style.display = "block";
                    };</script>
                <div class="ng-bar-node-box ng-site-nav-box lazy-bar-box">
                     <a href="#" class="ng-bar-node ng-bar-node-site" name="public0_none_daohang_wzdh">
                        <span>网站导航﹀</span>
                    </a><div class="ng-sn-site-nav ng-d-box site-nav-child" style="display:none;"><a href="#" class="ng-bar-node ng-bar-node-site" name="public0_none_daohang_wzdh">
                        <!--网站导航列表-->
                        <div class="head-loading"></div>
                         </a><a href="#" class="ng-close" name="public0_none_daohang_close">
                            <em class="ng-iconfont"></em></a>
                    </div>
                </div>
                <div class="ng-bar-node-box shop-handle lazy-bar-box">
                     <!-- <a href="#" class="ng-bar-node ng-bar-node-pr5  ng-bar-node-shop touch-href" name="public0_none_shangjia_ruzhu"  > -->
                        <span>商家入驻﹀</span>
                        <!-- <em class="ng-iconfont down"></em></a> -->
                    <div class="ng-down-box ng-d-box shop-center-child ng-ser-list" style="display:none;">
                        <!--商家入驻列表-->
                        <div class="head-loading"></div>
                    </div>
                </div>
                <!--服务中心 [[-->
                <div class="ng-bar-node-box service-handle lazy-bar-box">
                     <a href="#" class="ng-bar-node ng-bar-node-service ng-bar-node-fix touch-href ng-bar-node-pr5" rel="nofollow" name="public0_none_kehu_fuwu">
                        <span>客户服务﹀</span>
                        <em class="ng-iconfont down"></em></a>
                    <div class="ng-down-box ng-d-box service-center-child ng-ser-list" style="display:none;">
                        <!--服务中心列表-->
                        <div class="head-loading"></div>
                         <a href="#" rel="nofollow" name="public0_none_kehu_zixun" style="display:none;">
                            <span>在线咨询</span>
                            <em class="ng-iconfont"></em></a>
                    </div>
                </div>
                <!--服务中心 ]]-->
                <!--网站导航 ]]-->
                <!-- 消息 [[ -->
                <!-- <div class="ng-bar-node-box ng-msg-box">
                 <a href="#" class="ng-bar-node ng-bar-node-msg" name="public0_none_dbgjt_wdxx01"  >
                <span>消息<i class="ng-iconfont dot"></i></span><em class="ng-iconfont down">&#xe62e;</em></a>
                <div class="ng-d-box ng-msg-child" style="display:none;">
                <div class="ng-msg-list">
                <div class="ng-msg-item ng-msg-item-no">
                <i></i><span>嗷~ 没有新消息...</span></div>
                </div>
                <div class="ng-msg-bottom"> <a href="#" name="public0_none_dbgjt_wdxx01"  >查看更多</a></div></div>
                </div>   -->
                <!-- 消息 ]] --></div>
            <div class="ng-toolbar-right">
                <!-- 登录注册 -->
                 <a href="#" class="ng-bar-node username-bar-node username-bar-node-showside" id="username-node" rel="nofollow" style="display:none;">
                    <span id="usernameHtml01"></span>
                    <em class="hasmsg ng-iconfont"></em></a>
                <div class="ng-bar-node-box username-handle" id="username-node-slide" style="display: block;">
                     <a href="#" rel="nofollow" class="ng-bar-node username-bar-node username-bar-node-noside" style="display: none;">
                        <span id="usernameHtml02"></span>
                        <em class="hasmsg ng-iconfont"></em>
                        <em class="ng-iconfont down"></em></a>
                    <div class="ng-d-box ng-down-box ng-username-slide" style="display:none;">
                         <a href="/home/index" class="ng-vip-union" name="public0_none_denglu_zhanghao" rel="nofollow">账号管理</a>
                         <a href="/logouot" rel="nofollow" name="public0_none_denglu_tuichu">退出登录</a></div>
                </div>
                <div class="ng-bar-node reg-bar-node" id="reg-bar-node" style="">
                     <a href="#" name="public0_none_denglu_denglu" rel="nofollow" class="login">请登录</a>
                     <a href="#" class="login reg-bbb" rel="nofollow" name="public0_none_denglu_zhuce">注册有礼</a></div>
                <script type="text/javascript">var stripscript = function(s) {
                        var pattern = new RegExp("[<>]") var rs = "";
                        for (var i = 0; i < s.length; i++) {
                            rs = rs + s.substr(i, 1).replace(pattern, '');
                        }
                        return rs;
                    }

                    function d(b) {
                        var a;
                        return (a = document.cookie.match(RegExp("(^| )" + b + "=([^;]*)(;|$)"))) ? stripscript(decodeURIComponent(a[2].replace(/\+/g, "%20"))) : null
                    };
                    var uernameA = d("logonStatus");
                    var usernameNode = document.getElementById('username-node');
                    var usernameNodeSlide = document.getElementById('username-node-slide');
                    var usernameHtml01 = document.getElementById('usernameHtml01'),
                    usernameHtml02 = document.getElementById('usernameHtml02');
                    var regBarNode = document.getElementById('reg-bar-node');
                    if (uernameA != null && uernameA != "") {
                        var uernameC = d("nick");
                        // if( ((window.sidebar_config && sidebar_config.enable)||sn.hasSidebar) && !sn.hasNewSidebar ){
                        //  usernameNode.style.display = "block";
                        // }else{
                        usernameNodeSlide.style.display = "block";
                        //}
                        usernameHtml01.innerHTML = uernameC;
                        usernameHtml02.innerHTML = uernameC;
                        regBarNode.style.display = "none";
                    } else {
                        usernameNode.style.display = "none";
                        usernameNodeSlide.style.display = "none";
                        usernameHtml01.innerHTML = " ";
                        usernameHtml02.innerHTML = " ";
                        regBarNode.style.display = "block";
                    }</script>
                <!--我的订单 [[-->
                <div class="ng-bar-node-box myorder-handle">
                     <a href="#" rel="nofollow" name="public0_none_wode_dingdan" class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5">
                        <span>我的订单﹀</span>
                        <em class="ng-iconfont down"></em></a>
                    <div class="ng-down-box ng-d-box myorder-child" style="display:none;">
                         <a href="#" rel="nofollow" name="public0_none_wode_zhufu">待支付
                            <em id="waitPayCounts">(0)</em></a>
                         <a href="#" rel="nofollow" name="public0_none_wode_shouhuo">待收货
                            <em id="waitDeliveryCounts">(0)</em></a>
                         <a href="#" rel="nofollow" name="public0_none_wode_pingjia">待评价
                            <em id="waitEvaluation">(0)</em></a>
                         <a href="#" rel="nofollow" name="public0_none_wode_xiugai">修改订单</a></div>
                </div>
                <!--我的订单 ]]-->
                <!--我的易购 [[-->
                <div class="ng-bar-node-box mysuning-handle">
                     <a href="#" rel="nofollow" name="public0_none_wode_yigou" class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5">
                        <span>我的易购﹀</span>
                        <em class="ng-iconfont down"></em></a>
                    <div class="ng-down-box ng-d-box mysuning-child" style="display:none;">
                        <div class="mysuning-infor clearfix">
                            <a name="public0_none_wode_touxiang" href="//my.suning.com/person.do?targetTab=head" class="headimg">
                                <img src3="//image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg" alt="" id="userHead"></a>
                            <div class="mysuning-detail">
                                <a name="public0_none_denglu_denglu" href="javascript:SFE.base.logonurl();" class="login">请登录</a>
                                <a name="public0_none_wode_name" href="//my.suning.com" rel="nofollow" class="username" id="userNickname">141******13</a>
                                 <a href="#" rel="nofollow" name="public0_none_wode_daka" class="daka">点击打卡</a></div>
                        </div>
                         <a href="#" name="public0_none_wode_ershou" rel="nofollow">我的二手</a>
                         <a href="#" rel="nofollow" name="public0_none_wode_shoucang">我的收藏</a>
                         <a href="#" rel="nofollow" name="public0_none_wode_jinrong">我的金融</a>
                         <a href="#" class="ng-vip-union" rel="nofollow" name="">苏宁会员
                            <em class="ng-iconfont"></em></a>
                         <a href="#" rel="nofollow" name="public0_none_wode_renxingfu">我的任性付</a>
                         <a href="#" rel="nofollow" name="public0_none_wode_quan">我的优惠券</a></div>
                </div>
                <!--我的易购 ]]-->
                 <a href="#" name="public0_none_sn_huiyuan" rel="nofollow" class="ng-bar-node ng-bar-node-pr5">
                    <span>苏宁会员</span></a>
                <!--[[ 购物车 2017-06-08 添加购物车商品 -->
                <div class="ng-bar-node-box cart-handle">
                    <a class="ng-bar-node-mini-cart ng-bar-node-mini-cart " rel="nofollow" href="#">
                        <!-- <em class="ng-iconfont cart"></em> -->
                        <span>购物车</span>
                        <span class="total-num-box" id="J_total_num_box">
                            <b class="total-num J_cart_total_num" id="showTotalQty">0</b>
                            <span class="total-num-bg-box">
                                <em></em>
                                <i>
                                </i>
                            </span>
                        </span>
                    <!-- <div class="ng-down-box ng-d-box cart-child" style="display:none;">
                        <div>asdasdas</div>
                    </div> -->
                    <!-- <script type="text/javascript">var ngCartNum = d("totalProdQty");
                        ngCartNum = (ngCartNum == 0 || ngCartNum == null) ? 0 : ngCartNum;
                        ngCartNum = parseInt(ngCartNum);
                        ngCartNum = ngCartNum > 99 ? '99+': ngCartNum;
                        document.getElementById('showTotalQty').innerHTML = ngCartNum;</script> -->
                </a></div><a class="ng-bar-node-mini-cart ng-bar-node-mini-cart " rel="nofollow" href="#">
                <!-- 购物车 ]] -->
                 </a><a href="#" name="public0_none_yifubao_yfb" class="ng-bar-node ng-bar-node-pr5">
                    <span>易付宝</span></a>
                 <a href="#" class="ng-bar-node ng-bar-node-pr5" name="public0_none_qiye_caigou">
                    <span>企业采购</span></a>
                <!--手机苏宁 [[-->
                <div class="ng-bar-node-box app-down-box">
                     <a href="#" name="public0_none_shouji_sn" rel="nofollow" class="ng-bar-node mb-suning touch-href">
                        <span>手机苏宁﹀</span>
                    <div class="ng-mb-box ng-d-box mb-down-child" style="display:none;">
                        <ul class="ng-app-code">
                            <li>
                                <img class="top-code" src3="//res.suning.cn/public/v3/images/sn-top-code.png?var=01" alt="苏宁易购APP">
                                <p>下载苏宁易购APP</p>
                                <img class="aoyun-text" src3="//res.suning.cn/public/v3/images/aoyun-text.jpg?var=01" alt=""></li>
                            <li>
                                <img class="top-code" src3="//res.suning.cn/public/v3/images/yfb-top-code.png?var=01" alt="易付宝APP">
                                <p>扫一扫</p>
                                <p>下载苏宁金融APP</p>
                            </li>
                            <li>
                                <img class="top-code" src3="//res.suning.cn/public/v3/images/wxcode.jpg?var=01" alt="易购服务号">
                                <p>扫一扫</p>
                                <p>关注苏宁易购服务号</p>
                            </li>
                        </ul>
                        <div class="line"></div>
                        <div class="line lineTwo"></div>
                    </div>
                </a></div><a href="#" name="public0_none_shouji_sn" rel="nofollow" class="ng-bar-node mb-suning touch-href">
                <!--手机苏宁 ]]--></a></div><a href="#" name="public0_none_shouji_sn" rel="nofollow" class="ng-bar-node mb-suning touch-href">
            <div id="ng-minicart-slide-box"></div>
        </a></div><a href="#" name="public0_none_shouji_sn" rel="nofollow" class="ng-bar-node mb-suning touch-href">
    </a>
</div>